.tr-container {
    height: calc(100% - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tr-h0 {
    font-size: 96px;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 32px;
}

.tr-h2 {
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 32px;
}