.n-container {
    width: 100%;
    height: 64px;
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    padding: 0px 16px;
}

.n-h3 {
    display: inline-block;
    margin: 0px;
    padding: 1em 16px;
    color: white;
    cursor: pointer;
}

.n-item:hover {
    background-color: #333;
}