.ucp-container {
    height: calc(100% - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ucp-h0 {
    font-size: 96px;
    margin-block-start: 0px;
    margin-block-end: 32px;
}

.ucp-h1 {
    margin-block-start: 0px;
    margin-block-end: 32px;
}