.hp-container {
    height: calc(100% - 64px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hp-h1 {
    margin-block-start: 32px;
    margin-block-end: 32px;
}

.hp-p {
    margin-block-start: 0px;
    margin-block-end: 32px;
    text-align: center;
    width: 34rem;
}

.hp-h1-sc {
    margin-block-start: 0px;
    margin-block-end: 32px;
}

.hp-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block-end: 32px;
}

.hp-flex-item {
    width: 160px;
    height: 160px;
    margin: 16px 32px 48px 32px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.hp-h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -40px;
}

.hp-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.hp-h2 {
    position: relative;
    margin-block-start: 0px;
    margin-block-end: 0px;
    cursor: pointer;
}

.hp-icon {
    position: absolute;
    left: -1em;
    top: 2px;
}