.hp-container {
    height: calc(100% - 64px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hp-h1 {
    margin-block-start: 32px;
    margin-block-end: 32px;
}

.hp-p {
    margin-block-start: 0px;
    margin-block-end: 32px;
    text-align: center;
    width: 34rem;
}

.hp-h1-sc {
    margin-block-start: 0px;
    margin-block-end: 32px;
}

.hp-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block-end: 32px;
}

.hp-h2 {
    position: relative;
    margin-block-start: 0px;
    margin-block-end: 0px;
    cursor: pointer;
}

.hp-icon {
    position: absolute;
    left: -1em;
    top: 2px;
}